<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

    <title>Swarup Experiments - Swarup v1.0</title>    
    <link rel="stylesheet" href="../../dist/CSS/swarup.css">
    <style>
        :root{
            --theme-primary: #025 !important;
            --theme-secondary: #fff !important;
            --theme-surface: #eee !important;
        }
    </style>
</head>

<body>

    <button class="sw-btn sw-btn-surface m-4">
        Notifications
        <div class="sw-badge">10</div>
    </button>

    <button class="sw-btn sw-btn-surface m-4">
        Mail
        <div class="sw-badge sw-badge-pill sw-badge-overlay rounded" >10</div>
    </button>

    <script src="../../dist/JS/swarup.js"></script>
</body>
</html>