<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

    <title>Swarup Experiments - Swarup v0.0.4</title>    
    <link rel="stylesheet" href="../../dist/CSS/swarup.min.css">
    <style>
        :root{
            --theme-primary: #025 !important;
            --theme-secondary: #fff !important;
            --theme-surface: #eee !important;
        }
    </style>
</head>

<body>

    <div class="sw-breadcrumb">
        <a class="sw-breadcrumb-item active">Home</a>
        <a class="sw-breadcrumb-item">Going</a>
        <a class="sw-breadcrumb-item">To</a>
        <a class="sw-breadcrumb-item">Place</a>
    </div>

    <script src="../../dist/JS/swarup.min.js"></script>
</body>
</html>