<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

    <title>Swarup Buttons Experiments - Swarup v0.0.1-beta</title>    
    <link rel="stylesheet" href="../../dist/CSS/swarup.css">
    <style>
        :root{
            --theme-primary: #002f15 !important;
            --theme-secondary: #fff !important;
            --theme-surface: #eee !important;
        }       
    </style>
</head>

<body>
<h2 class="m-2">Types of Buttons</h1>
    <div class="m-4">
        <button class="sw-btn">Button</button>
        <button class="sw-btn sw-btn-outline">Button</button>
        <button class="sw-btn sw-btn-text">Button</button>
        <button class="sw-btn sw-btn-secondary ">Button</button>
        <button class="sw-btn sw-btn-surface ">Button</button>
    </div>

    <div class="m-4">
        <button class="sw-btn raised">Button</button>
        <button class="sw-btn raised sw-btn-outline">Button</button>
        <button class="sw-btn raised sw-btn-text">Button</button>
        <button class="sw-btn raised sw-btn-secondary sw-border">Button</button>
        <button class="sw-btn raised sw-btn-surface sw-border">Button</button>
    </div>

    <h2 class="m-2">Button Sizes</h1>
    <div class="m-4">
        <button class="sw-btn sw-btn-lg">Button</button>
        <button class="sw-btn sw-btn-md">Button</button>
        <button class="sw-btn">Button</button>
        <button class="sw-btn sw-btn-sm">Button</button>
    </div>
    <div class="m-4">
        <button class="sw-btn sw-btn-sm raised">Button</button>
        <button class="sw-btn raised">Button</button>
        <button class="sw-btn sw-btn-md raised">Button</button>
        <button class="sw-btn sw-btn-lg raised">Button</button>
    </div>

    <h2 class="m-2">Button Dropdown</h1>
    <div class="m-4">


        <div class="sw-btn-group">
            <button class="sw-btn">Button</button>
            <div tabindex="2" class="sw-dropdown">
                <button class="sw-btn sw-droplabel sw-btn-dropdown " ></button>
                <div class="sw-dropmenu ">
                    <a href="https://www.google.com" class="sw-item">Apple</a>
                    <div class="sw-item">Grapes</div>
                    <div class="sw-item">Watermelon</div>
                    <div class="sw-item">Watermelon</div>
                </div>
            </div>
        </div>

        <div class="sw-btn-group">
            <div tabindex="2" class="sw-dropdown">
                <button class="sw-btn sw-droplabel sw-btn-dropdown " ></button>
                <div class="sw-dropmenu ">
                    <a href="https://www.google.com" class="sw-item">Apple</a>
                    <div class="sw-item">Grapes</div>
                    <div class="sw-item">Watermelon</div>
                    <div class="sw-item">Watermelon</div>
                </div>
            </div>
            <button class="sw-btn">Button</button>
        </div>

        <div class="sw-btn-group">
            <div tabindex="2" class="sw-dropdown">
                <button class="sw-btn sw-droplabel sw-btn-dropdown " ></button>
                <div class="sw-dropmenu ">
                    <a href="https://www.google.com" class="sw-item">Apple</a>
                    <div class="sw-item">Grapes</div>
                    <div class="sw-item">Watermelon</div>
                    <div class="sw-item">Watermelon</div>
                </div>
            </div>
            <button class="sw-btn">Button</button>
            <div tabindex="2" class="sw-dropdown">
                <button class="sw-btn sw-droplabel sw-btn-dropdown " ></button>
                <div class="sw-dropmenu ">
                    <a href="https://www.google.com" class="sw-item">Apple</a>
                    <div class="sw-item">Grapes</div>
                    <div class="sw-item">Watermelon</div>
                    <div class="sw-item">Watermelon</div>
                </div>
            </div>
        </div>

        
    </div>

    <h2 class="m-2">Button Groups</h1>
    <div class="m-4">
        <div class="sw-btn-group">
            <button class="sw-btn">Hello</button>
            <button class="sw-btn">Hello</button>
            <button class="sw-btn">Hello</button>
        </div>

        <div class="sw-btn-group">
            <button class="sw-btn">Hello</button>
            <button class="sw-btn sw-btn-secondary">Hello</button>
            <button class="sw-btn">Hello</button>
        </div>

        <div class="sw-btn-group">
            <button class="sw-btn sw-btn-secondary">Hello</button>
            <button class="sw-btn">Hello</button>
            <button class="sw-btn sw-btn-secondary">Hello</button>
        </div>
    </div>

    <script src="../../dist/JS/swarup.js"></script>
</body>
</html>