<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

    <title>Swarup Experiments - Swarup v0.0.4</title>    
    <link rel="stylesheet" href="../../dist/CSS/swarup.min.css">
    <style>
        :root{
            --theme-primary: #ad200a !important;
            --theme-secondary: #fff !important;
            --theme-surface: #eee !important;
        }
    </style>
</head>

<body>

    <div class="sw-row m-4">
        <div class="sw-col-sm-4 p-3 ">

            <div class="sw-card">
                <img src="../d.jpg" class="sw-card-img" style="height: 220px;" />
                <div class="sw-card-body">
                    <h1 class="sw-card-title">Card Title</h1>
                    <h1 class="sw-card-subtitle">Card Subtitle</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil natus autem aspernatur dignissimos, sed labore officia illo ducimus corrupti magnam, laboriosam enim! Unde quo velit cumque officia sequi vero tenetur.
                    </p>
                    <h5 class="sw-card-footer">
                        <button class="sw-btn">Learn More</button>
                        <button class="sw-btn sw-btn-text">Go There</button>
                    </h5>
                </div>
            </div>
            
        </div>

        <div class="sw-col-sm-4 p-3">

            <div class="sw-card">
                
                <div class="sw-card-body">
                    <h1 class="sw-card-title">Card Title</h1>
                    <h1 class="sw-card-subtitle">Card Subtitle</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil natus autem aspernatur dignissimos, sed labore officia illo ducimus corrupti magnam, laboriosam enim! Unde quo velit cumque officia sequi vero tenetur.
                    </p>
                    <h5 class="sw-card-footer">
                        <button class="sw-btn">Learn More</button>
                    </h5>
                </div>
                <img src="../d.jpg" class="sw-card-img" style="height: 220px;" />
            </div>
            
        </div>

        <div class="sw-col-sm-4 p-3">

            <div class="sw-card">
                <img src="../d.jpg" class="sw-card-img" style="height: 220px;" />
                <div class="sw-card-img-overlay">
                    <div class="sw-card-body">
                        <h1 class="sw-card-title">Card Title</h1>
                        <h1 class="sw-card-subtitle">Card Subtitle</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil natus autem aspernatur dignissimos, sed labore officia illo ducimus corrupti magnam, laboriosam enim! Unde quo velit cumque officia sequi vero tenetur.
                        </p>
                        <h5 class="sw-card-footer">
                            <button class="sw-btn sw-btn-secondary">Learn More</button>
                        </h5>
                    </div>
                </div>
            </div>
            
        </div>

    </div>

    <script src="../../dist/JS/swarup.min.js"></script>
</body>
</html>