<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World!</title>
    <link rel="stylesheet" href="../../dist/CSS/swarup.min.css">
</head>

<body style="margin: 10px;">
    <div class="sw-list" style="width: 200px;">
        <div class="sw-list">
            <div class="sw-item">Apple</div>
            <div class="sw-item">Grapes</div>
            <div class="sw-item">Watermelon</div>
            <div class="sw-item">Papaya</div>
        </div>
    </div>
    <div class="sw-list" style="width: 200px;">
        <div class="sw-list-label">Fruits</div>
        <div class="sw-list">
            <a href="https://www.google.com" class="sw-item active">Apple</a>
            <div class="sw-item">Grapes</div>
            <div class="sw-item">Watermelon</div>
            <div class="sw-item">Papaya</div>
        </div>
        <div class="sw-list-label">Fruits</div>
        <div class="sw-list">
            <div class="sw-item">Apple</div>
            <div class="sw-item">Grapes</div>
            <div class="sw-item">Watermelon</div>
            <div class="sw-item">Papaya</div>
        </div>
        <div class="sw-list-label">Fruits</div>
        <div class="sw-list">
            <div class="sw-item">Apple</div>
            <div class="sw-item">Grapes</div>
            <div class="sw-item">Watermelon</div>
            <div class="sw-item">
                <div class="sw-list-label">Fruits</div>
                <div class="sw-list">
                    <div class="sw-item">Apple</div>
                    <div class="sw-item">Grapes</div>
                    <div class="sw-item">Watermelon</div>
                    <div class="sw-item">
                        <div class="sw-list-label">Fruits</div>
                        <div class="sw-list">
                            <div class="sw-item">Apple</div>
                            <div class="sw-item">Grapes</div>
                            <div class="sw-item">Watermelon</div>
                            <div class="sw-item">Papaya</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../../dist/JS/swarup.min.js"></script>
</body>

</html>