<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Swarup Experiments - Swarup v0.0.4</title>    
    <link rel="stylesheet" href="../../dist/CSS/swarup.min.css">
    <style>
        :root{
            --theme-primary: #03c2ef;
        }
    </style>
</head>

<body>

    <div class="sw-row">
        <div class="sw-col-4">
            <div class="sw-form-input-wrapper m-5">
                <label class="sw-form-input-label" for="name">Username</label>
                <input id="name" type="text" class="sw-form-input">
            </div>
        
            <div class="sw-form-input-wrapper m-5">
                <label class="sw-form-input-label" for="name">Username</label>
                <input id="name" type="text" class="sw-form-input-bordered">
            </div>
        
            <div class="sw-form-input-wrapper m-5">
                <label class="sw-form-input-label" for="name">Username</label>
                <textarea id="name" type="text" class="sw-form-input-bordered" cols="30" rows="4"></textarea>
            </div>

            <div class="sw-form-input-wrapper m-5">
                <label class="sw-form-input-label" for="name">Username</label>
                <input id="name" type="text" class="sw-form-input is-invalid">
                <span class="invalid-text"> This is not a valid input </span>
            </div>
        
            <div class="sw-form-input-wrapper m-5">
                <label class="sw-form-input-label" for="name">Username</label>
                <input id="name" type="text" class="sw-form-input-bordered is-invalid">
                <span class="invalid-text"> This is not a valid input </span>
            </div>
        
            <div class="sw-form-input-wrapper m-5">
                <label class="sw-form-input-label" for="name">Username</label>
                <textarea id="name" type="text" class="sw-form-input-bordered is-invalid" cols="30" rows="4"></textarea>
                <span class="invalid-text"> This is not a valid input </span>
            </div>
        </div>

        <div class="sw-col-4">            
            <div class="sw-checkbox m-5">
                <input type="checkbox" name="s" id="s">
                <label for="s" class="sw-check"></label>
            </div>

            <select class="sw-form-input" name="" id="">
                <option value="">Home</option>
                <option value="">Apple</option>
            </select>
        </div>

    </div>




    <script src="../../dist/JS/swarup.min.js"></script>
</body>
</html>