<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

    <title>Swarup Experiments - Swarup v0.0.4</title>    
    <link rel="stylesheet" href="../../dist/CSS/swarup.min.css">
    <style>
        :root{
            --theme-primary: #025 !important;
            --theme-secondary: #fff !important;
            --theme-surface: #eee !important;
        }
    </style>
</head>

<body>

    <nav class="sw-navbar">
        <h1 class="sw-navbar-logo">Logo</h1>
        <div class="sw-navbar-nav">
            <a href="#" class="sw-navbar-link"> Home </a>
            <a href="#" class="sw-navbar-link"> Explore </a>
            <a href="#" class="sw-navbar-link"> Popular </a>
        </div>
        <div class="sw-navbar-nav ml-auto">
            <a href="#" class="sw-navbar-link"> Login </a>
            <a href="#" class="sw-navbar-link"> Register </a>
        </div>
    </nav>




    <script src="../../dist/JS/swarup.min.js"></script>
</body>
</html>