<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Swarup Experiments - Swarup v1.0</title>    
    <link rel="stylesheet" href="../../dist/CSS/swarup.css">
    <style>
        :root{
            --theme-primary: #03c2ef;
        }
    </style>
</head>

<body class="m-5">
    <div class="sw-panel">
        <div class="sw-wing show" id="wing1">
            <h1>Wing-1</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi reiciendis esse beatae nemo ratione vel et maxime assumenda alias? Reprehenderit unde, autem cumque atque rerum facere deleniti et cum est. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur laudantium, accusantium explicabo numquam maxime modi in aliquid quae dolore. Eligendi provident tenetur porro voluptas sequi sit nobis nihil omnis rerum.
            </p>
            <button class="sw-btn wing-btn" wing-target='#wing2'>Next Wing</button>
        </div>

        <div class="sw-wing" id="wing2">
            <h1>Wing-2</h1>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem saepe et temporibus vero recusandae qui ex suscipit mollitia sequi. Cupiditate hic voluptas sequi rem, perferendis porro magni excepturi cum quis?Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse ab at animi in a, natus consequatur earum necessitatibus quidem delectus qui adipisci quasi velit. Eos ipsum quos commodi adipisci sapiente.
            </p>
            <button class="sw-btn wing-btn" wing-target='#wing1'>Previous Wing</button>
            <button class="sw-btn wing-btn" wing-target='#wing3'>Next Wing</button>
        </div>

        <div class="sw-wing" id="wing3">
            <h1>Wing-3</h1>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem saepe et temporibus vero recusandae qui ex suscipit mollitia sequi. Cupiditate hic voluptas sequi rem, perferendis porro magni excepturi cum quis?Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse ab at animi in a, natus consequatur earum necessitatibus quidem delectus qui adipisci quasi velit. Eos ipsum quos commodi adipisci sapiente.
            </p>
            <button class="sw-btn wing-btn" wing-target='#wing2'>Previous Wing</button>
            <button class="sw-btn wing-btn" wing-target='#wing4'>Next Wing</button>
        </div>

        <div class="sw-wing" id="wing4">
            <h1>Wing-4</h1>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem saepe et temporibus vero recusandae qui ex suscipit mollitia sequi. Cupiditate hic voluptas sequi rem, perferendis porro magni excepturi cum quis?Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse ab at animi in a, natus consequatur earum necessitatibus quidem delectus qui adipisci quasi velit. Eos ipsum quos commodi adipisci sapiente.
            </p>
            <button class="sw-btn wing-btn" wing-target='#wing3'>Previous Wing</button>
        </div>

    </div>
    <script src="../../dist/JS/swarup.js"></script>
</body>
</html>