<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Swarup Experiments - Swarup v1.0</title>    
    <link rel="stylesheet" href="../../dist/CSS/swarup.css">
    <style>
        :root{
            --theme-primary: #03c2ef;
        }
    </style>
</head>

<body class="m-5">

    <div class="sw-row m-5 p-5">
        <div class="sw-col-12">
            <div class="sw-tabs">
                <a class="sw-tab active" tab-target="#apple" >Apple</a>
                <a class="sw-tab" tab-target="#grapes" >Grapes</a>
                <a class="sw-tab" tab-target="#pineapple" >Pineapple</a>
                <a class="sw-tab" tab-target="#watemalon" >Watemalon</a>
            </div>
            <div class="sw-tabs-area p-4">

                <div id="apple" class="sw-tab-content">
                    <h2>Apple</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium molestias repellat cupiditate culpa, a iusto earum, voluptatum, blanditiis delectus sunt commodi quia repudiandae optio voluptatibus repellendus tempora! Modi, nemo quas.</p>
                </div>

                <div id="grapes" class="sw-tab-content">
                    <h2>Grapes</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus error eos unde nihil provident totam quisquam accusamus consequuntur dolores dignissimos ducimus sint laudantium voluptate voluptatum, nobis aspernatur necessitatibus eum quibusdam.</p>
                </div>

                <div id="pineapple" class="sw-tab-content">
                    <h2>Pineapple</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus error eos unde nihil provident totam quisquam accusamus consequuntur dolores dignissimos ducimus sint laudantium voluptate voluptatum, nobis aspernatur necessitatibus eum quibusdam.</p>
                </div>

                <div id="watemalon" class="sw-tab-content">
                    <h2>Watemalon</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus error eos unde nihil provident totam quisquam accusamus consequuntur dolores dignissimos ducimus sint laudantium voluptate voluptatum, nobis aspernatur necessitatibus eum quibusdam.</p>
                </div>

            </div>
        </div>
    </div>

    <div class="sw-row m-5 p-5">
        <div class="sw-col-4">
            <div class="sw-tabs-vertical">
                <a class="sw-tab active" tab-target="#apple1" >Apple</a>
                <a class="sw-tab" tab-target="#grapes1" >Grapes</a>
                <a class="sw-tab" tab-target="#pineapple1" >Pineapple</a>
                <a class="sw-tab" tab-target="#watemalon1" >Watemalon</a>
            </div>
        </div>
        <div class="sw-col-8">
            <div class="sw-tabs-area p-4">
                <div id="apple1" class="sw-tab-content">
                    <h2>Apple</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium molestias repellat cupiditate culpa, a iusto earum, voluptatum, blanditiis delectus sunt commodi quia repudiandae optio voluptatibus repellendus tempora! Modi, nemo quas.</p>
                </div>

                <div id="grapes1" class="sw-tab-content">
                    <h2>Grapes</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus error eos unde nihil provident totam quisquam accusamus consequuntur dolores dignissimos ducimus sint laudantium voluptate voluptatum, nobis aspernatur necessitatibus eum quibusdam.</p>
                </div>

                <div id="pineapple1" class="sw-tab-content">
                    <h2>Pineapple</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus error eos unde nihil provident totam quisquam accusamus consequuntur dolores dignissimos ducimus sint laudantium voluptate voluptatum, nobis aspernatur necessitatibus eum quibusdam.</p>
                </div>

                <div id="watemalon1" class="sw-tab-content">
                    <h2>Watemalon</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus error eos unde nihil provident totam quisquam accusamus consequuntur dolores dignissimos ducimus sint laudantium voluptate voluptatum, nobis aspernatur necessitatibus eum quibusdam.</p>
                </div>

            </div>
        </div>
    </div>

    <script src="../../dist/JS/swarup.js"></script>
</body>
</html>