/* Margin Start in EMs */
.m-auto {margin: auto;}
.m-0 {margin: 0em;}
.m-1 {margin: 0.25em;}
.m-2 {margin: 0.5em;}
.m-3 {margin: 0.75em;}
.m-4 {margin: 1.25em;}
.m-5 {margin: 2.5em;}

.mt-auto {margin-top: auto;}
.mt-0 {margin-top: 0em;}
.mt-1 {margin-top: 0.25em;}
.mt-2 {margin-top: 0.5em;}
.mt-3 {margin-top: 0.75em;}
.mt-4 {margin-top: 1.25em;}
.mt-5 {margin-top: 2.5em;}

.ml-auto {margin-left: auto;}
.ml-0 {margin-left: 0em;}
.ml-1 {margin-left: 0.25em;}
.ml-2 {margin-left: 0.5em;}
.ml-3 {margin-left: 0.75em;}
.ml-4 {margin-left: 1.25em;}
.ml-5 {margin-left: 2.5em;}

.mr-auto {margin-right: auto;}
.mr-0 {margin-right: 0em;}
.mr-1 {margin-right: 0.25em;}
.mr-2 {margin-right: 0.5em;}
.mr-3 {margin-right: 0.75em;}
.mr-4 {margin-right: 1.25em;}
.mr-5 {margin-right: 2.5em;}

.mb-auto {margin-bottom: auto;}
.mb-0 {margin-bottom: 0em;}
.mb-1 {margin-bottom: 0.25em;}
.mb-2 {margin-bottom: 0.5em;}
.mb-3 {margin-bottom: 0.75em;}
.mb-4 {margin-bottom: 1.25em;}
.mb-5 {margin-bottom: 2.5em;}

.mx-auto {margin-left: auto; margin-right: auto;}
.mx-0 {margin-left: 0em; margin-right: 0em;}
.mx-1 {margin-left: 0.25em; margin-right: 0.25em;}
.mx-2 {margin-left: 0.5em; margin-right: 0.5em;}
.mx-3 {margin-left: 0.75em; margin-right: 0.75em;}
.mx-4 {margin-left: 1.25em; margin-right: 1.25em;}
.mx-5 {margin-left: 2.5em; margin-right: 2.5em;}

.my-auto {margin-top: auto; margin-bottom: auto;}
.my-0 {margin-top: 0em; margin-bottom: 0em;}
.my-1 {margin-top: 0.25em; margin-bottom: 0.25em;}
.my-2 {margin-top: 0.5em; margin-bottom: 0.5em;}
.my-3 {margin-top: 0.75em; margin-bottom: 0.75em;}
.my-4 {margin-top: 1.25em; margin-bottom: 1.25em;}
.my-5 {margin-top: 2.5em; margin-bottom: 2.5em;}
/* Margin END in EMs */


/* Margin Start in Px's */
.m-0px {margin: 0px;}
.m-1px {margin: 1px;}
.m-2px {margin: 2px;}
.m-3px {margin: 3px;}
.m-4px {margin: 4px;}
.m-5px {margin: 5px;}
.m-8px {margin: 8px;}
.m-10px {margin: 10px;}
.m-20px {margin: 20px;}
.m-30px {margin: 30px;}
.m-50px {margin: 50px;}
.m-80px {margin: 80px;}
.m-100px {margin: 100px;}

.mt-0px {margin-top: 0px;}
.mt-1px {margin-top: 1px;}
.mt-2px {margin-top: 2px;}
.mt-3px {margin-top: 3px;}
.mt-4px {margin-top: 4px;}
.mt-5px {margin-top: 5px;}
.mt-8px {margin-top: 8px;}
.mt-10px {margin-top: 10px;}
.mt-20px {margin-top: 20px;}
.mt-30px {margin-top: 30px;}
.mt-50px {margin-top: 50px;}
.mt-80px {margin-top: 80px;}
.mt-100px {margin-top: 100px;}

.ml-0px {margin-left: 0px;}
.ml-1px {margin-left: 1px;}
.ml-2px {margin-left: 2px;}
.ml-3px {margin-left: 3px;}
.ml-4px {margin-left: 4px;}
.ml-5px {margin-left: 5px;}
.ml-8px {margin-left: 8px;}
.ml-10px {margin-left: 10px;}
.ml-20px {margin-left: 20px;}
.ml-30px {margin-left: 30px;}
.ml-50px {margin-left: 50px;}
.ml-80px {margin-left: 80px;}
.ml-100px {margin-left: 100px;}

.mr-0px {margin-right: 0px;}
.mr-1px {margin-right: 1px;}
.mr-2px {margin-right: 2px;}
.mr-3px {margin-right: 3px;}
.mr-4px {margin-right: 4px;}
.mr-5px {margin-right: 5px;}
.mr-8px {margin-right: 8px;}
.mr-10px {margin-right: 10px;}
.mr-20px {margin-right: 20px;}
.mr-30px {margin-right: 30px;}
.mr-50px {margin-right: 50px;}
.mr-80px {margin-right: 80px;}
.mr-100px {margin-right: 100px;}

.mb-0px {margin-bottom: 0px;}
.mb-1px {margin-bottom: 1px;}
.mb-2px {margin-bottom: 2px;}
.mb-3px {margin-bottom: 3px;}
.mb-4px {margin-bottom: 4px;}
.mb-5px {margin-bottom: 5px;}
.mb-8px {margin-bottom: 8px;}
.mb-10px {margin-bottom: 10px;}
.mb-20px {margin-bottom: 20px;}
.mb-30px {margin-bottom: 30px;}
.mb-50px {margin-bottom: 50px;}
.mb-80px {margin-bottom: 80px;}
.mb-100px {margin-bottom: 100px;}

.mx-0px {margin-left: 0px; margin-right: 0px;}
.mx-1px {margin-left: 1px; margin-right: 1px;}
.mx-2px {margin-left: 2px; margin-right: 2px;}
.mx-3px {margin-left: 3px; margin-right: 3px;}
.mx-4px {margin-left: 4px; margin-right: 4px;}
.mx-5px {margin-left: 5px; margin-right: 5px;}
.mx-8px {margin-left: 8px; margin-right: 8px;}
.mx-10px {margin-left: 10px; margin-right: 10px;}
.mx-20px {margin-left: 20px; margin-right: 20px;}
.mx-30px {margin-left: 30px; margin-right: 30px;}
.mx-50px {margin-left: 50px; margin-right: 50px;}
.mx-80px {margin-left: 80px; margin-right: 80px;}
.mx-100px {margin-left: 100px; margin-right: 100px;}

.my-0px {margin-top: 0px; margin-bottom: 0px;}
.my-1px {margin-top: 1px; margin-bottom: 1px;}
.my-2px {margin-top: 2px; margin-bottom: 2px;}
.my-3px {margin-top: 3px; margin-bottom: 3px;}
.my-4px {margin-top: 4px; margin-bottom: 4px;}
.my-5px {margin-top: 5px; margin-bottom: 5px;}
.my-8px {margin-top: 8px; margin-bottom: 8px;}
.my-10px {margin-top: 10px; margin-bottom: 10px;}
.my-20px {margin-top: 20px; margin-bottom: 20px;}
.my-30px {margin-top: 30px; margin-bottom: 30px;}
.my-50px {margin-top: 50px; margin-bottom: 50px;}
.my-80px {margin-top: 80px; margin-bottom: 80px;}
.my-100px {margin-top: 100px; margin-bottom: 100px;}
/* Margin END in Px's */


/* Padding Start in EMs */
.p-0 {padding: 0em;}
.p-1 {padding: 0.25em;}
.p-2 {padding: 0.5em;}
.p-3 {padding: 0.75em;}
.p-4 {padding: 1.25em;}
.p-5 {padding: 2.5em;}

.pt-0 {padding-top: 0em;}
.pt-1 {padding-top: 0.25em;}
.pt-2 {padding-top: 0.5em;}
.pt-3 {padding-top: 0.75em;}
.pt-4 {padding-top: 1.25em;}
.pt-5 {padding-top: 2.5em;}

.pl-0 {padding-left: 0em;}
.pl-1 {padding-left: 0.25em;}
.pl-2 {padding-left: 0.5em;}
.pl-3 {padding-left: 0.75em;}
.pl-4 {padding-left: 1.25em;}
.pl-5 {padding-left: 2.5em;}

.pr-0 {padding-right: 0em;}
.pr-1 {padding-right: 0.25em;}
.pr-2 {padding-right: 0.5em;}
.pr-3 {padding-right: 0.75em;}
.pr-4 {padding-right: 1.25em;}
.pr-5 {padding-right: 2.5em;}

.pb-0 {padding-bottom: 0em;}
.pb-1 {padding-bottom: 0.25em;}
.pb-2 {padding-bottom: 0.5em;}
.pb-3 {padding-bottom: 0.75em;}
.pb-4 {padding-bottom: 1.25em;}
.pb-5 {padding-bottom: 2.5em;}

.px-0 {padding-left: 0em; padding-right: 0em;}
.px-1 {padding-left: 0.25em; padding-right: 0.25em;}
.px-2 {padding-left: 0.5em; padding-right: 0.5em;}
.px-3 {padding-left: 0.75em; padding-right: 0.75em;}
.px-4 {padding-left: 1.25em; padding-right: 1.25em;}
.px-5 {padding-left: 2.5em; padding-right: 2.5em;}

.py-0 {padding-top: 0em; padding-bottom: 0em;}
.py-1 {padding-top: 0.25em; padding-bottom: 0.25em;}
.py-2 {padding-top: 0.5em; padding-bottom: 0.5em;}
.py-3 {padding-top: 0.75em; padding-bottom: 0.75em;}
.py-4 {padding-top: 1.25em; padding-bottom: 1.25em;}
.py-5 {padding-top: 2.5em; padding-bottom: 2.5em;}
/* Padding END in EMs */


/* Padding Start in Px's */
.p-0px {padding: 0px;}
.p-1px {padding: 1px;}
.p-2px {padding: 2px;}
.p-3px {padding: 3px;}
.p-4px {padding: 4px;}
.p-5px {padding: 5px;}
.p-8px {padding: 8px;}
.p-10px {padding: 10px;}
.p-20px {padding: 20px;}
.p-30px {padding: 30px;}
.p-50px {padding: 50px;}
.p-80px {padding: 80px;}
.p-100px {padding: 100px;}

.pt-0px {padding-top: 0px;}
.pt-1px {padding-top: 1px;}
.pt-2px {padding-top: 2px;}
.pt-3px {padding-top: 3px;}
.pt-4px {padding-top: 4px;}
.pt-5px {padding-top: 5px;}
.pt-8px {padding-top: 8px;}
.pt-10px {padding-top: 10px;}
.pt-20px {padding-top: 20px;}
.pt-30px {padding-top: 30px;}
.pt-50px {padding-top: 50px;}
.pt-80px {padding-top: 80px;}
.pt-100px {padding-top: 100px;}

.pl-0px {padding-left: 0px;}
.pl-1px {padding-left: 1px;}
.pl-2px {padding-left: 2px;}
.pl-3px {padding-left: 3px;}
.pl-4px {padding-left: 4px;}
.pl-5px {padding-left: 5px;}
.pl-8px {padding-left: 8px;}
.pl-10px {padding-left: 10px;}
.pl-20px {padding-left: 20px;}
.pl-30px {padding-left: 30px;}
.pl-50px {padding-left: 50px;}
.pl-80px {padding-left: 80px;}
.pl-100px {padding-left: 100px;}

.pr-0px {padding-right: 0px;}
.pr-1px {padding-right: 1px;}
.pr-2px {padding-right: 2px;}
.pr-3px {padding-right: 3px;}
.pr-4px {padding-right: 4px;}
.pr-5px {padding-right: 5px;}
.pr-8px {padding-right: 8px;}
.pr-10px {padding-right: 10px;}
.pr-20px {padding-right: 20px;}
.pr-30px {padding-right: 30px;}
.pr-50px {padding-right: 50px;}
.pr-80px {padding-right: 80px;}
.pr-100px {padding-right: 100px;}

.pb-0px {padding-bottom: 0px;}
.pb-1px {padding-bottom: 1px;}
.pb-2px {padding-bottom: 2px;}
.pb-3px {padding-bottom: 3px;}
.pb-4px {padding-bottom: 4px;}
.pb-5px {padding-bottom: 5px;}
.pb-8px {padding-bottom: 8px;}
.pb-10px {padding-bottom: 10px;}
.pb-20px {padding-bottom: 20px;}
.pb-30px {padding-bottom: 30px;}
.pb-50px {padding-bottom: 50px;}
.pb-80px {padding-bottom: 80px;}
.pb-100px {padding-bottom: 100px;}

.px-0px {padding-left: 0px; padding-right: 0px;}
.px-1px {padding-left: 1px; padding-right: 1px;}
.px-2px {padding-left: 2px; padding-right: 2px;}
.px-3px {padding-left: 3px; padding-right: 3px;}
.px-4px {padding-left: 4px; padding-right: 4px;}
.px-5px {padding-left: 5px; padding-right: 5px;}
.px-8px {padding-left: 8px; padding-right: 8px;}
.px-10px {padding-left: 10px; padding-right: 10px;}
.px-20px {padding-left: 20px; padding-right: 20px;}
.px-30px {padding-left: 30px; padding-right: 30px;}
.px-50px {padding-left: 50px; padding-right: 50px;}
.px-80px {padding-left: 80px; padding-right: 80px;}
.px-100px {padding-left: 100px; padding-right: 100px;}

.py-0px {padding-top: 0px; padding-bottom: 0px;}
.py-1px {padding-top: 1px; padding-bottom: 1px;}
.py-2px {padding-top: 2px; padding-bottom: 2px;}
.py-3px {padding-top: 3px; padding-bottom: 3px;}
.py-4px {padding-top: 4px; padding-bottom: 4px;}
.py-5px {padding-top: 5px; padding-bottom: 5px;}
.py-8px {padding-top: 8px; padding-bottom: 8px;}
.py-10px {padding-top: 10px; padding-bottom: 10px;}
.py-20px {padding-top: 20px; padding-bottom: 20px;}
.py-30px {padding-top: 30px; padding-bottom: 30px;}
.py-50px {padding-top: 50px; padding-bottom: 50px;}
.py-80px {padding-top: 80px; padding-bottom: 80px;}
.py-100px {padding-top: 100px; padding-bottom: 100px;}
/* Padding END in Px's */


.float-left{ float: left; }
.float-right{ float: right; }

.pos-absolute{ position: absolute; }
.pos-relative{ position: relative; }
.pos-fixed{ position: fixed; }
.pos-sticky{ position: sticky; }

.top{ top: 0; bottom: auto; }
.left{ left: 0; right: auto; }
.bottom{ bottom: 0; top: auto; }
.right{ right: 0; left: auto; }